* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* to avoid padding summing height (content-box) */
}

html {
  font-size: 62.5%;
}

.App {
  text-align: center;
  position: relative;
}

.App-header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 40%;
  height: 70vh;
}

.App-body {
  position: relative;
  top: 0px;
  left: 40%;
  width: 60%;
  min-height: 100vh;
}

.App-footer {
  position: fixed;
  top: 70vh;
  left: 0px;
  width: 40%;
  height: 30vh;
}

@media screen and (min-width: 780px) and (max-width: 1024px) {
}

@media screen and (min-width: 480px) and (max-width: 780px) {
}

@media screen and (max-width: 480px) {
  .App-header {
    position: relative;
    float: left;
    top: 0px;
    width: 100%;
  }

  .App-body {
    min-height: unset;
    position: unset;
    float: left;
    top: 70vh;
    left: 0px;
    width: 100%;
  }

  .App-footer {
    position: relative;
    float: left;
    top: 0px;
    width: 100%;
  }
}
